
/*****************************************Variables for Computer**********************************************/ 
:root {

    --body-background-color: #fff;

    --Header-Container-Height: 15vh;

    
    --Settings-Font-Size: 30px;

    --Settings-Elements-Height: 15vh;

    --Settings-Element1-Distance: calc(0vh);
    --Settings-Element2-Distance: calc(15vh + 1px);
    --Settings-Element3-Distance: calc(30vh + 2px);

    --Mode-Element1-Distance: calc(0vh);
    --Mode-Element2-Distance: calc(15vh + 1px);
    --Mode-Element3-Distance: calc(30vh + 2px);
    --Mode-Element4-Distance: calc(45vh + 3px);
    --Mode-Element5-Distance: calc(60vh + 4px);

    --Switch-Container-Height:30vw;
    --Switch-Container-Width:45vw;

    --Position-Image-Width:25px;
    --Position-Image-Height:25px;

    --Switch-Name-Font-Size: 35px;

    --Subheading-Font-Size: 20px;

    --Button-Heading-Font-Size: 25px;

    --Close-Settings-Button-Size: 25px;

    #Touch-Area-L{
        border-radius:  1vw 0px 0px 1vw;
        }

    #Touch-Area-R{
        border-radius: 0px 1vw 1vw 0px;
        }

    .Switch-Container{
        top:calc(15vh + 2.5vw);
        border-radius:2vw;
        left:2.5vw; 
    }

    .Layout-Container{
        left:calc(100% + 5vw);
        border-radius:2vw;
        top:0%;
        }

    .Cube{
        border-radius:1vw;
        height:15vw;
        width:15vw;
        }

    .Dot{
        height:5%;
        width:5%;
        }
    }
  
/*****************************************Variables for Tablet************************************************/ 
@media only screen and (max-width: 760px) {

    :root {

        --body-background-color: white;
        
        --Header-Container-Height: 10vh;

        --Settings-Font-Size:30px; 

        --Settings-Elements-Height:10vh;

        --Settings-Element1-Distance: calc(0vh);
        --Settings-Element2-Distance: calc(10vh + 1px);
        --Settings-Element3-Distance: calc(20vh + 2px);

        
        --Mode-Element1-Distance: calc(0vh);
        --Mode-Element2-Distance: calc(10vh + 1px);
        --Mode-Element3-Distance: calc(20vh + 2px);
        --Mode-Element4-Distance: calc(30vh + 3px);
        --Mode-Element5-Distance: calc(40vh + 4px);

        --Switch-Container-Height:60vw;
        --Switch-Container-Width:90vw;

        --Position-Image-Width:35px;
        --Position-Image-Height:35px;

        --Switch-Name-Font-Size: 45px;

        --Subheading-Font-Size: 30px;

        --Button-Heading-Font-Size: 30px;

        --Close-Settings-Button-Size: 25px;

        #Touch-Area-L{
            border-radius:  2vw 0px 0px 2vw;
            }
    
        #Touch-Area-R{
            border-radius: 0px 2vw 2vw 0px;
            }

        .Switch-Container{
            transform: translateX(-50%);
            top:calc(10vh + 5vw);
            border-radius:5vw;
            left:50%; 
            }

        .Layout-Container{
            transform: translateX(-50%);
            top:calc(100% + 3vh);
            border-radius:5vw;
            left:50%;
            }

        .Cube{
            border-radius:2vw;
            height:25vw;
            width:25vw;
            }

        .Dot{
            height:5%;
            width:5%;
            }
        }
    }

/*****************************************Variables for Smartphone********************************************/ 
@media only screen and (max-width: 480px) {

    :root {

        --body-background-color: white;

        --Header-Container-Height: 10vh;

        --Settings-Font-Size:15px; 

        --Settings-Elements-Height:10vh;

        --Settings-Element1-Distance: calc(0vh);
        --Settings-Element2-Distance: calc(10vh + 1px);
        --Settings-Element3-Distance: calc(20vh + 2px);

        
        --Mode-Element1-Distance: calc(0vh);
        --Mode-Element2-Distance: calc(10vh + 1px);
        --Mode-Element3-Distance: calc(20vh + 2px);
        --Mode-Element4-Distance: calc(30vh + 3px);
        --Mode-Element5-Distance: calc(40vh + 4px);

        --Switch-Container-Height:70vw;
        --Switch-Container-Width:90vw;

        --Position-Image-Width:15px;
        --Position-Image-Height:15px;

        --Switch-Name-Font-Size: 25px;
        --Subheading-Font-Size: 17px;

        --Button-Heading-Font-Size: 15px;

        --Close-Settings-Button-Size: 15px;

        #Touch-Area-L{
            border-radius:  2vw 0px 0px 2vw;
                }
        
        #Touch-Area-R{
            border-radius: 0px 2vw 2vw 0px;
                }

        .Switch-Container{
            top:calc(10vh + 5vw);
            border-radius:5vw;
            left:50%; 
            transform: translateX(-50%);
            }

        .Layout-Container{
            border-radius:5vw;
            left:50%;
            transform: translateX(-50%);
            top:calc(100% + 3vh);
            }

        .Cube{
            height:30vw;
            width:30vw;
            border-radius:2vw;
            }

        .Dot{
            height:7%;
            width:7%;
            }
        }
    }



body {
    background-color:var(--body-background-color);
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    font-family:"Roboto";
    user-select: none; 
    color:#1B1212;
    overflow:hidden; 
    padding:0px;
    margin:0px;
    }

      
.Header-Container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    height:var(--Header-Container-Height);
    background-color: #fff;
    position:absolute;
    width:100vw;
    padding:0px;
    z-index:11;
    margin:0px;
    left:0%;
    top:0%;     
    }

.Logo{
    transform: translate(-50%, -50%);
    position:absolute;
    height:calc(80%);
    left:50%;
    top:50%;
    }

.OpenSettingsButton{
    transform: translateY(-50%);
    position:absolute;
    display:block;
    opacity:0.9;
    height:35%;
    left:2%;
    top:50%;
    }

/*****************************************Switch-Container*****************************************/   
.Switch-Container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height:var(--Switch-Container-Height);
    width:var(--Switch-Container-Width);
    background-color: #f8f8ff49;
    position:absolute;
    display:block;   
    }

.Switch-Name{
    position:absolute;
    font-weight:bold;
    font-size:var(--Switch-Name-Font-Size); 
    left:5%;  
    top:5%; 
    }
    
.Position-Image{
    height:var(--Position-Image-Height);
    width:var(--Position-Image-Width);
    transform:translateY(-50%);
    position:absolute;
    left:105%;
    top:50%;
    }
    
.Position-Name{
    top:calc(100% + 7px);
    position:absolute;
    font-weight:lighter;
    font-size:var(--Subheading-Font-Size);
    left:0%; 
    }
    
    
.Switch-Mode{
    top:calc(100% + 7px);
    position:absolute;
    width:calc(100vw);
    font-size:var(--Subheading-Font-Size);
    left:0%;
    }

/*****************************************Layout-Container****************************************/     
.Layout-Container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f8f8ff49; 
    border-radius:20px;
    position:absolute;
    display:block; 
    height:100%;
    width:100%;
    }

.Cube{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    position:absolute; 
    left:50%;  
    top:50%
    }

.Dot{
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%); 
    background-color: #00f;
    border-radius:50%;
    position:absolute; 
    filter:blur(2px);
    opacity:0.7;
    }

#A {top: 50%; left: 50%; transform: translate(-50%, -50%); display: none; }
#B, #C, #D, #E { display: none; }
#B { top: 30%; left: 20%; }
#C { top: 70%; left: 20%; }
#D { top: 30%; left: 80%; }
#E { top: 70%; left: 80%; }

.Touch-Area{
    background-color:rgba(0, 0, 255, 0.233);
    transition: 0.5s ease;
    position:absolute;
    height:100%;
    width:50%;
    top:0%;
    }

#Touch-Area-L{
    border-radius:  10px 0px 0px 10px;
    display:none;
    left:0%;
    }

#Touch-Area-R{
    border-radius: 0px 10px 10px 0px;
    display:none;
    right:0%;
    }

/*****************************************Button-Container*****************************************/ 
.Button-Container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position:absolute;
    height:50%;
    bottom:5%; 
    width:30%;
    }

.Button-Image{
    transform:translateX(-50%);
    position:absolute;
    opacity:0.8;
    bottom:10%;
    width:30%;
    left:50%;
    }

.Button-Container > h1{
    font-size:var(--Button-Heading-Font-Size);
    transform:translateX(-50%);
    position:absolute;
    text-align:center;
    font-weight:bold;
    padding:0px;
    width:100%;
    margin:0px;
    opacity:0.9;
    left:50%;
    top:10%;
    }

#Left-Button-Container{
    left:10%; 
    display:block;
    }

#Right-Button-Container{
    right:10%; 
    display:block;
    }

#Center-Button-Container{
    transform: translateX(-50%);
    display:none;
    left:50%; 
    }

#Left-Button-Container:active, #Right-Button-Container:active , #Center-Button-Container:active {
    background-color: rgba(0, 0, 255, 0.233);
    }

/*****************************************Settings*************************************************/ 
.Settings-Container{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transition: left 1s ease-in-out;
    background-color:#fff;
    height: calc(100vh);
    font-weight: bolder;
    position:absolute;
    color:#000;
    z-index:1000;
    padding:0px;
    margin:0px;
    left:-51vw;
    width:50vw;
    top:0%; 
    }

.CloseSettingsButton{
    position:absolute;
    cursor:pointer;
    opacity: 0.5;
    z-index:11;
    height:7vw;
    width:7vw;
    padding:0;
    margin:0;
    right:0;
    top:0;
    }
        
.CloseSettingsButton > img {
    height:var(--Close-Settings-Button-Size);
    position:absolute;
    padding-left:0px;
    margin:10px;
    right:0;
    top:0;
    }

.Settings-Elements{
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);
    height:var(--Header-Container-Height);
    background-color:#fff;
    position:absolute;
    cursor:pointer;
    width:100%;
    z-index:10;
    left:0%;
    }

.Settings-Elements > h1{
    transform: translateY(-50%);
    font-size:var(--Settings-Font-Size);
    position:absolute;
    padding-left:20px;
    text-align:left;
    opacity:0.5;
    margin:0px;
    width:100%;
    left:0%;
    top:50%;
    }

.MyHouseImg{
    width:var(--Settings-Font-Size);
    padding-right:10px;
    padding-top:10px;
    bottom:0%;
    }

.SettingsImg{
    width:var(--Settings-Font-Size);
    transform:translateY(-50%);
    padding-left:10px;
    position:absolute;
    top:50%;
    }

#Settings-Element-1{
    top:var(--Settings-Element1-Distance);
    }

#Settings-Element-2{
    top:var(--Settings-Element2-Distance); 
    }

#Settings-Element-3{
    top:var(--Settings-Element3-Distance); 
    height:calc(100%);
    }

/*****************************************Mode-Settings*******************************************/ 
.Mode-Settings{
    border: 1px solid rgba(0, 0, 0, 0.2);
    top:var(--Settings-Element2-Distance); 
    transition: left 1s ease-in-out;
    background-color:#fff;
    font-family:Arial;
    position:absolute;
    z-index:-10;
    height:50%;
    width:100%;
    left:0%;
    }

.Mode-Elements{
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);
    height:var(--Settings-Elements-Height);
    background-color:#fff;
    position:absolute;
    cursor:pointer;
    width:100%;
    z-index:10;
    left:0%;
    }

.Mode-Elements > h1{
    font-size:var(--Settings-Font-Size);
    transform: translateY(-50%);
    position:absolute;
    padding-left:20px;
    text-align:left;
    opacity:0.5;
    margin:0px;
    width:100%;
    left:0%;
    top:50%;
    }

#Mode-Element-1{
    top:var(--Mode-Element1-Distance);
    }

#Mode-Element-2{
    top:var(--Mode-Element2-Distance);
    }  

#Mode-Element-3{
    top:var(--Mode-Element3-Distance);
    }
        
#Mode-Element-4{
    top:var(--Mode-Element4-Distance);
    }  
        
#Mode-Element-5{
    top:var(--Mode-Element5-Distance);
    }  

/*****************************************Copyright***********************************************/ 
.Copyright{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2); 
    font-size: calc(13px + 0.390625vw); 
    background-color:#fff;
    position:absolute;
    text-align:center;
    font-weight:bold;
    z-index:10000;
    padding:5px;
    width:100vw;
    margin:0px;
    bottom:0%;    
    left:0%;
    }
